.board {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.board__row {
    display: flex;
    flex-grow: 1;
}

.board__cell {
    flex-grow: 1;
}

.board__cell--empty {

}
